@import './base.css';

:root {
  --background: #231a1a;
  --primary: #fb2601;
  --tx-normal: #FFF;
  --tx-dimmed: #a78c8b;
  --background-light: #2f2323;
  --background-lighter: #3a2c2c;
  --red: #6c2b2b;
}